<div class="panel-header panel-header-sm">
</div>
<html>
<body>
<!-- header -->
<nav class="navbar">
  <!--
    <div class="navbar-brand">
      <button class="navbar-item navbar-item-right">gfdgfdg</button>
    </div>

  -->
  <a class="mat-button" (click)="logout()">Logout</a>
</nav>

<h1>Svi osiguraci</h1>
<div>
  <div class="table-responsive">
    <table class="table table-striped">
      <thead class=" text-primary">
      <th>
        Id
      </th>
      <th>
        Max napon
      </th>
      <th>
        Snaga
      </th>
      <th>
        Montaza
      </th>
      <th>
        Rivet
      </th>
      <th>
        Brisanje
      </th>
      </thead>
      <tbody>
      <ng-container *ngFor="let osigurac of osiguraci">
        <tr>
          <td>{{osigurac.osId}}</td>
          <td>{{osigurac.maxNapon}}</td>
          <td>{{osigurac.snaga}}</td>
          <td>{{osigurac.moId.spId}}</td>
          <td>{{osigurac.riId.spId}}</td>

          <td>
            <div ngbDropdown class="d-inline-block">
              <button class="btn btn-outline-primary" id="dropdownBasic1" ngbDropdownToggle>Obrisi</button>
              <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
                <button ngbDropdownItem (click)="delete(osigurac)">Obrisi</button>
              </div>
            </div>
          </td>

        </tr>
      </ng-container>
      </tbody>
    </table>
  </div>
  <button class="btn btn-outline-primary" (click)="MakeVote()">Novi osigurac</button>
</div>
