<div class="panel-header panel-header-sm">
</div>
<body>
<div class="card-body">
  <h4 class="card-title"> Dodaj stavku sastavnice u stavku radnog naloga</h4>

  <form [formGroup]="VezaForm" (ngSubmit)="create()">

    <div>
      <mat-form-field >
        <mat-label>Sastavnica </mat-label>
        <mat-select formControlName="sId" (selectionChange)="someMethod($event.value)">
          <mat-option id="sId"  *ngFor="let stavkaSas of stavkeSas" [value]="stavkaSas.stavka_sasKey.sId">{{stavkaSas.stavka_sasKey.sId}}</mat-option>
        </mat-select>
      </mat-form-field>
    </div>

    <div>
      <mat-form-field >
        <mat-label>Stavka sastavnice </mat-label>
        <mat-select formControlName="sSasId">
          <mat-option id="sSasId"  *ngFor="let stavkaSas of selektovaneStavke" [value]="stavkaSas.stavka_sasKey.ssId">{{stavkaSas.stavka_sasKey.ssId}}</mat-option>
        </mat-select>
      </mat-form-field>
    </div>






    <button type="submit" class="btn btn-primary">Sačuvaj </button>
  </form>
  <button class="btn btn-outline-primary" (click)="MakeVote()">Odustani</button>




</div>
</body>


