<div class="panel-header panel-header-sm">
</div>
<html>
<body>
<!-- header -->
<nav class="navbar">
  <!--
    <div class="navbar-brand">
      <button class="navbar-item navbar-item-right">gfdgfdg</button>
    </div>

  -->
  <a class="mat-button" (click)="logout()">Logout</a>
</nav>

<h1>Svi pogoni</h1>
<div>
  <div class="table-responsive">
    <table class="table table-striped">
      <thead class=" text-primary">
      <th>
        Id
      </th>
      <th>
        Količina ormana
      </th>
      <th>
        Količina stolica
      </th>
      <th>
        Količina stolova
      </th>
      <th>
        Količina mašina
      </th>
      <th>
        Brisanje
      </th>
      </thead>
      <tbody>
      <ng-container *ngFor="let pogon of pogoni">
        <tr>
          <td>{{pogon.pId}}</td>
          <td>{{pogon.kolOrmanaP}}</td>
          <td>{{pogon.kolStolicaP}}</td>
          <td>{{pogon.kolStolovaP}}</td>
          <td>{{pogon.kolMasinaP}}</td>

          <td>
            <div ngbDropdown class="d-inline-block">
              <button class="btn btn-outline-primary" id="dropdownBasic1" ngbDropdownToggle>Obriši</button>
              <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
                <button ngbDropdownItem (click)="delete(pogon)">Obriši</button>
              </div>
            </div>
          </td>

        </tr>
      </ng-container>
      </tbody>
    </table>
  </div>
  <button class="btn btn-outline-primary" (click)="MakeVote(addVote)">Novi pogon</button>
</div>



<ng-template #addVote let-modal windowClass="modal-dialog">
  <div class="modal-header">
    <h4 class="modal-title" class="text-right" id="modal-basic-title4">Novi pogon</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">


    <div class="card-body">

      <form [formGroup]="PogoniForm" (ngSubmit)="create()">
        <input type="number" formControlName="kolOrmanaP" id="kolOrmanaP" nbInput min="1" max="500"value="1"  placeholder="Količina ormana">
        <input type="number" formControlName="kolStolicaP" id="kolStolicaP" nbInput min="1" max="50"value="1"  placeholder="Količina stolica">
        <input type="number" formControlName="kolStolovaP" id="kolStolovaP" nbInput min="1" max="50"value="1"  placeholder="Količina stolova">
        <input type="number" formControlName="kolMasinaP" id="kolMasinaP" nbInput min="1" max="5000000"value="1"  placeholder="Količina mašina">
        <button type="submit" class="btn btn-primary">Kreiraj pogon</button>
      </form>

    </div>

  </div>

  <div class="modal-footer">

  </div>
</ng-template>


