<div class="panel-header panel-header-sm">
</div>
<html>
<body>
<!-- header -->
<nav class="navbar">
  <!--
    <div class="navbar-brand">
      <button class="navbar-item navbar-item-right">gfdgfdg</button>
    </div>

  -->
  <a class="mat-button" (click)="logout()">Logout</a>
</nav>

<h1>Svi magacini</h1>
<div>
  <div class="table-responsive">
    <table class="table table-striped">
      <thead class=" text-primary">
      <th>
        Id
      </th>
      <th>
        Max kolicina materijala
      </th>
      <th>
        Kolicina viljuskara
      </th>
      <th>
        Kolicina paleta
      </th>
      <th>
        Kolicina ormana
      </th>
      <th>
        Brisanje
      </th>
      </thead>
      <tbody>
      <ng-container *ngFor="let magacin of magacini">
        <tr>
          <td>{{magacin.mid}}</td>
          <td>{{magacin.maxKolMaterijala}}</td>
          <td>{{magacin.kolViljuskara}}</td>
          <td>{{magacin.kolPaleta}}</td>
          <td>{{magacin.kolOrmanaM}}</td>

          <td>
            <div ngbDropdown class="d-inline-block">
              <button class="btn btn-outline-primary" id="dropdownBasic1" ngbDropdownToggle>Obrisi</button>
              <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
                <button ngbDropdownItem (click)="delete(magacin)">Obrisi</button>
              </div>
            </div>
          </td>

        </tr>
      </ng-container>
      </tbody>
    </table>
  </div>
  <button class="btn btn-outline-primary" (click)="MakeVote(addVote)">Novi magacin</button>
</div>



<ng-template #addVote let-modal windowClass="modal-dialog">
  <div class="modal-header">
    <h4 class="modal-title" class="text-right" id="modal-basic-title4">Novi magacin</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">


    <div class="card-body">

      <form [formGroup]="MagaciniForm" (ngSubmit)="create()">
        <input type="number" formControlName="maxKolMaterijala" id="maxKolMaterijala" nbInput min="1" max="50000"value="1"  placeholder="Max kolicina materijala">
        <input type="number" formControlName="kolViljuskara" id="kolViljuskara" nbInput min="1" max="50"value="1"  placeholder="Kolicina viljuskara">
        <input type="number" formControlName="kolPaleta" id="kolPaleta" nbInput min="1" max="50000"value="1"  placeholder="Kolicina paleta">
        <input type="number" formControlName="kolOrmanaM" id="kolOrmanaM" nbInput min="1" max="50"value="1"  placeholder="Kolicina ormana">
        <button type="submit" class="btn btn-primary">Kreiraj magacin</button>
      </form>

    </div>

  </div>

  <div class="modal-footer">

  </div>
</ng-template>


